<div class="row">
    <div class="col-md-12">
        <h1>ActivityConnect</h1>
        <p class = "lead">
            Welcome to ActivityConnect! 
            Share activities to connect locally with your community and peers.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <%= image_tag("logo.png", alt: "Activity Logo" ) %>
    </div>
    <div class="col-md-5">
        <p>
            How does it work?
            Browse activities online today. Attend activities in real life tomorrow!
            It’s simple and fun to stay active and make new friends.
                <ul>
                    <li><b>Sign up</b> to see all activities listed near your location</li>
                     <li><b>Browse</b> the descriptions of dozens of activities listed by your fellow community members</li>
                    <li><b>Join</b> activities that interest you: whether it’s for a walk around the lake, an afternoon coffee, gardening with a companion, or a local play or concert!</li>
                    <li>Propose</b> an activity of your own. Interested in a hobby or want to share something with an activity partner? Why not propose your own activity for others to join! </li>
                </ul>
        </p>
        <h4>What would you like to do first? </h4>
        <%= link_to "Browse activities", activities_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Edit your user profile", edit_user_registration_path, class: "btn btn-large btn-primary" %>
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row">
    <br>
    <div class="col-md-12">
        <iframe width="1100"
              height="400"
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/view?zoom=13&center=56.8790,14.8059&key=<%=ENV['GOOGLE_MAPS_EMBED_KEY']%>">
        </iframe>
    </div>
</div>
